@using DataAccess.POCO
@using PagedList
@using PagedList.Mvc

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = ViewData["SiteName"].ToString();
    ViewBag.PageTitle = "Manage Users";
    ViewBag.ManageUsers = "active open";
}

<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-xlg-12 col-md-12">
                <a class="btn btn-success" href="@Url.Action("Create")" type="button"><i aria-hidden="true" class="icon wb-plus"></i> New User</a>
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                @using (Html.BeginForm("Listing", "User", FormMethod.Post, new { @class = "page-search-form", @role = "search" }))
                {
                    <div class="input-search input-search-dark">
                        <button id="search-icon" type="submit" class="input-search-icon icon wb-search" aria-label="Close"></button>
                        @Html.TextBox("SearchKeyword", ViewData["SearchKeyword"].ToString(), new { @class = "form-control", @placeholder = "Search by NRIC or User Names" })
                        <button id="search-close" type="button" class="input-search-close icon wb-close" aria-label="Close"></button>
                    </div>
                }
            </div>
        </div>

        <div class="row margin-top-15">
            <div class="col-xlg-12 col-md-12">
                <div>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>NRIC</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IPagedList<User> users = (IPagedList<User>)ViewData["User"];

                                    if (users.Count > 0)
                                    {
                                        int page = Convert.ToInt32(ViewData["Page"]) - 1;
                                        int pageSize = Convert.ToInt32(ViewData["PageSize"]);
                                        int i = 1;

                                        foreach (User user in users)
                                        {
                                            <tr>
                                                <td>@(i + page * pageSize)</td>
                                                <td>@user.NRIC</td>
                                                <td>@user.Name</td>
                                                <td>@user.Email</td>
                                                <td>
                                                    @{
                                                        string[] roles = user.Role.Split(',');
                                                        foreach (string role in roles)
                                                        {
                                                            @role<br />
                                                        }
                                                    }
                                                </td>
                                                <td>@user.Status</td>
                                                <td class="text-nowrap">
                                                    <a href="@Url.Action("Edit", new { @id = user.ID })" class="btn btn-sm btn-icon btn-round btn-default" data-toggle="tooltip" data-original-title="Edit"><i class="icon wb-edit" aria-hidden="true"></i></a>
                                                    <button type="button" class="btn btn-sm btn-icon btn-round btn-danger" data-toggle="tooltip" data-original-title="Delete" onclick="DeleteThisRecord(@user.ID)"><i class="icon wb-close" aria-hidden="true"></i></button>
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7" class="no-records-found">No record to display</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="pagination">
                @Html.PagedListPager((IPagedList)ViewData["User"], page => Url.Action("/Listing", "User", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< First", LinkToPreviousPageFormat = "< Previous", LinkToNextPageFormat = "Next >", LinkToLastPageFormat = "Last >>" })
            </div>
        </div>
    </div>
</div>

@if (TempData["Result"] != null)
{
    <script>
        $(document).ready(function () {
            alertify.alert("@TempData["Result"].ToString().Split('|')[1]");
        });
    </script>
}